Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-use-enum-class,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length,
  -readability-named-parameter,
  -readability-magic-numbers,
  -readability-redundant-access-specifiers,
  -readability-static-accessed-through-instance,
  -performance-move-const-arg,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  -bugprone-reserved-identifier,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -portability-avoid-pragma-once,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -cppcoreguidelines-special-member-functions,
  -hicpp-special-member-functions,
  -clang-analyzer-cplusplus.NewDelete,
  -clang-analyzer-cplusplus.SmartPtrModeling

WarningsAsErrors: ''
HeaderFilterRegex: '(^|[\\/])src[\\/].*'
SystemHeaders: false

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: m_
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.ConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: k
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StaticConstantPrefix
    value: k
  - key: readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key: readability-identifier-naming.LocalConstantCase
    value: camelBack
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalVariableCase
    value: camelBack
  - key: readability-identifier-naming.StaticVariableCase
    value: camelBack
